/*1. Виділити Львів оранжевим*/
span{
    color:orange;

}
    
/*2. Виділити городок та золочів голубим кольором*/
li li{
    color: blue;
}
    
/*3. Підкреслити перші елементи, а останні зробити жирними*/
li :nth-child(1){
    text-decoration: underline;
}
li:last-child{
    font-weight: bold;
}
     
/*4. Дати західним містам розмір шрифта 30 пікселів */
[data-location=west]{
    font-size:30px;
}
    
/*5. У всіх елементів крім Дніпра, виділити першу букву жовтим кольором.*/
li:not([data-location="center"]):first-letter{ 
  color:yellow;
}
}